body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: black;
  line-height: 1.6;
}
/* LANDING PAGE */
.container #showcase {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../img/rawpixel-665378-unsplash.jpg');
  max-width: 100%;
  max-height: 100%;
  height: 100vh;
  margin: auto;
}
#showcase h1 {
  font-size: 70px;
  color: red;
}
#showcase p {
  font-size: 20px;
}
.button {
  font-size: 20px;
  text-decoration: none;
  color: red;
  border: 5px transparent solid;
  font-weight: bold;
  margin-top: 50px;
}
.button:hover {
  background-color: red;
  color: white;
  border: 5px red solid;
  border-radius: 5px;
  font-weight: bold;
}
/*Navigation Bar*/
nav {
  overflow: hidden;
  float: right;
  clear: right;
  padding-right: 5%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
/* Change the link color to #111 (black) on hover */
nav li a:hover {
    color: red;
}
/*Make the Columns */
.aboutcontainer {
  margin-top: 50px;
}
.side {
  width: 30%;
  float: left;
  padding-left: 5%;
}
.side img {
  max-width: 100%;
  height: auto;
  border-radius: 5% 10%;
}
.main {
  width: 60%;
  float: right;
}
.main p {
  padding: 20px 20px 20px 20px;
}
