* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: black;
  line-height: 1.6;
}
.container #showcase {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../img/rawpixel-665378-unsplash.jpg');
  max-width: 100%;
  max-height: 100%;
  height: 100vh;
  margin: auto;
}
#showcase h1 {
  font-size: 70px;
}
#showcase p {
  font-size: 20px;
}
.button {
  font-size: 20px;
  text-decoration: none;
  color: red;
  border: 5px transparent solid;
  font-weight: bold;
  margin-top: 50px;
}
.button:hover {
  background-color: red;
  color: white;
  border: 5px red solid;
  border-radius: 5px;
  font-weight: bold;
}
/*Navigation Bar*/
nav {
  float: right;
  color: black;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
/* Change the link color to #111 (black) on hover */
nav li a:hover {
    color: red;
}
/*organize about page*/
.data {

}
.photo {
  float: left;
  width: 30%;
}
.blurb {
  float: right;
  width: 70%;
}
footer{
  clear: none;
}
